{% import _self as self %}
<!DOCTYPE html>
<html lang="ja">
  <head>
     {% block head %}{% endblock %}
  </head>
		<div id="root">
          {% block content %}{% endblock %}
      </div>
	</body>
</html>
